<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
        integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
        crossorigin="anonymous" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <title>Document</title>

    {% block css_block %}
    {% endblock %}
</head>

<body>
    <div class="mynav">
        <ul class="mynav-menu">
            <li class="mynav-item"><a href="{% url 'home' %}"><img src="{% static 'imgs/logos/easy_learning_1.png' %}"
                        alt="logo" width="75px"></a></li>
            {% if user.is_authenticated %}
            {% if user.is_tutor %}
            <li class="mynav-item"><a href="{% url 'app_tutor:tutor_profile' %}" data-toggle="tooltip"
                    data-placement="left" title="Teacher profile"><img src="{% static 'imgs/logos/tutor_1.png' %}"
                        alt="Tutor"></a></li>
            {% endif %}
            {% if user.is_student %}
            <li class="mynav-item"><a href="{% url 'app_student:taken_quizzes' %}" title="Student Profile"><img
                        src="{% static 'imgs/logos/student.png' %}" alt="Student"></a></li>
            {% endif %}
            <li class="mynav-item"><a href="{% url 'app_QNA:asked_list' %}">Forum</a></li>
            <li class="mynav-item"><a href="{% url 'app_login:logout' %}">Logout</a></li>
            {% else %}
            <li class="mynav-item"><a href="{% url 'app_login:login' %}">Login</a></li>
            <li class="mynav-item"><a href="{% url 'app_login:choose' %}">Sign Up</a></li>
            {% endif %}
            <li class="mynav-item"><a href="{% url 'app_quiz:quiz_home' %}">Quizzes</a></li>
            <li class="mynav-item"><a href="{% url 'home' %}">Courses</a></li>
            <li class="mynav-item"><a href="{% url 'features' %}">Features</a></li>

        </ul>
    </div>
    <center>
        <div class="main-div">
            <div class="card-body">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {% endfor %}
            </div>

            {% block body_block %}

            {% endblock %}
        </div>
    </center>
</body>

</html>